In [ ]:
## Relational operator

In [4]:
try:
    'durga'<10
except Exception as e:
    print(str(e))


try:
    'durga' < 10
except TypeError as e:
    print(str(e))

'<' not supported between instances of 'str' and 'int'
'<' not supported between instances of 'str' and 'int'

In [6]:
try:
    print(ord('a'))
except TypeError as e:
    print(str(e))

97

In [15]:
try:
    if 'a' > '297':
        print("condition is true")
except TypeError as e:
    print(str(e))


try:
    print('roja' > 'ravi')
except TypeError as e:
    print(str(e))

condition is true
True

In [19]:
a=10
b=20
print(a>b)
print('a=10'>'b=20')

False
False

In [20]:
print('aaa'>'aab')

False

In [23]:
print(10<20)
print(10<20<30)
print(10<20<30<40>50)

True
True
False

In [25]:
# Chaning of relational operators
# If all comparisons return  the true then the result will be true
# If atleast one comparison then returns flase then the reslut is flase

In [26]:
## Equality operators

In [27]:
# == and !=
# Always meant for content comparison

In [32]:
print(10==20)

False

In [34]:
print('durga'==10)

False

In [35]:
print(10 == '10')  # False
print(10 == 10.0)  # True

False
True

In [37]:
print(0.1 + 0.2 == 0.3)  # False
#Floating-point numbers can have precision issues, making equality comparisons tricky.

False

In [38]:
# Objects of custom classes can override the __eq__ method to define what equality means.
class MyClass:
    def __init__(self, value):
        self.value = value
    def __eq__(self, other):
        return self.value == other.value

obj1 = MyClass(10)
obj2 = MyClass(10)
print(obj1 == obj2)  # True

True

In [39]:
# Lists are compared element-wise, and nested structures are compared recursively.
print([1, 2, 3] == [1, 2, 3])  # True
print([1, 2, [3, 4]] == [1, 2, [3, 4]])  # True
print([1, 2, [3, 4]] == [1, 2, [4, 3]])  # False

True
True
False

In [40]:
print(True == 1.0)

True

In [41]:
#The None object is only equal to None.
print(None == None)  # True
print(None == 0)     # False
print(None == False) # False

True
False
False

In [42]:
# Tuples and Other Collections:
# Like lists, tuples and other collections (e.g., sets, dictionaries) are compared element-wise.
print((1, 2) == (1, 2))  # True
print({1, 2} == {2, 1})  # True
print({'a': 1, 'b': 2} == {'b': 2, 'a': 1})  # True

True
True
True

In [43]:
# NaN is a special floating-point value which is not equal to anything, including itself.
import math
print(math.nan == math.nan)  # False

False

In [44]:
# The comparisons are evaluated from left to right.
# Each comparison is evaluated individually, and the results are combined.
# If all comparisons return True, the entire expression evaluates to True.
# If any comparison returns False, the entire expression evaluates to False.

In [45]:
x = 5
y = 10
z = 15
print(x < y <= z)  # True because 5 < 10 and 10 <= 15
print(x < y > z)   # False because 5 < 10 is True but 10 > 15 is False

True
False

In [46]:
# == operator for the content comparison 
# is operator for reference comparison(address comparison)

In [55]:
l1 = [10,20,30,40]
l2 = [10,20,30,40]  
# in fandamental datatypes reusability present
# Objects are different but content is same
# Is operator returns true iff both the references pointing to the same object
print(id(l1), id(l2))
print(l1 is l2) # both object are diffrent
print(l1 == l2) # content is same

2269144626432 2269144615360
False
True

In [56]:
l3 = l1
print(l1 is l3)
print(l1 == l3)

True
True

In [57]:
#logical Operators
# and or not

In [58]:
# For boolean type
print(True and True)   # True
print(True and False)  # False
print(False and True)  # False
print(False and False) # False

True
False
False
False

In [59]:
print(True and True)   # True
print(True or False)   # True
print(False or True)   # True
print(False or False)  # False

True
True
True
False

In [60]:
print(not True)  # False
print(not False) # True

False
True

In [61]:
a = True
b = False
c = True
d = False

print(a and b or c)   # True because (True and False) is False, but False or True is True
print(not a or b)     # False because not True is False, and False or False is False
print(a and not b)    # True because True and not False is True

True
False
True

In [62]:
# Zero consider as flase
# non zero is consider as true
# Empty string, set , list, tuple tec consider as false
# Non empty consider as True

In [64]:
## X or Y 
# if x evaluates to true then the result is x
# if x evaluates to false then the result is y

In [66]:
print(10 or 20)
print(0 or 20)
print('durga' or 'soft')
print('' or 'durga')

10
20
durga
durga