## **Tuple in Python**

1. A **Tuple** is exactly the same as a **List**, except that it is **immutable**.  
   Once we create a Tuple object, we cannot perform any changes in that object.
2. Hence, a Tuple is the **read-only version of a List**.
3. If our data is fixed and never changes, then we should go for a Tuple.
4. **Insertion Order** is preserved.
5. **Duplicates** are allowed.
6. **Heterogeneous objects** are allowed.
7. We can preserve the **insertion order** and differentiate duplicate objects by using the **index**.  
   Hence, the index plays a very important role in a Tuple.
8. Tuples support both **positive** and **negative indexing**:
   - Positive indexing (`+ve`): Forward direction (from left to right).
   - Negative indexing (`-ve`): Backward direction (from right to left).
9. We can represent Tuple elements within **parentheses** and with a **comma separator**.
10. **Parentheses** are optional but recommended for better readability.

#### **Example: Tuple Creation**

In [ ]:
t = 10, 20, 30, 40
print(t)
print(type(t))


1. **Definition**:  
   A Tuple is exactly the same as a List except that it is immutable. Once a Tuple object is created, no changes can be performed on it.

2. **Read-Only Nature**:  
   A Tuple is a read-only version of a List.

3. **When to Use**:  
   If the data is fixed and never changes, a Tuple is recommended.

4. **Properties**:  
   - **Insertion Order**: Preserved.  
   - **Duplicates**: Allowed.  
   - **Heterogeneous Objects**: Supported.  
   - **Indexing**:  
     - Positive index: Forward direction (left to right).  
     - Negative index: Backward direction (right to left).

5. **Representation**:  
   - Tuple elements are represented within parentheses `()` and separated by commas.  
   - Parentheses are optional but recommended for clarity.

In [1]:

### Example: Empty Tuple
t = ()
print(type(t))

<class 'tuple'>


#### **Note:**
We have to take special care when creating a **single-valued Tuple**.  
The value **must end with a comma**, otherwise, it will not be treated as a Tuple.

In [2]:
t = (10)
print(t)
print(type(t))

10
<class 'int'>

#### **Correct Single-Valued Tuple:**

In [ ]:
t = (10,)
print(t)
print(type(t))


### **Valid Tuples**

#### **Q) Which of the following are valid Tuples?**
1. `t = ()`  
   **Valid**: Creates an empty Tuple.  
2. `t = 10, 20, 30, 40`  
   **Valid**: Creates a Tuple with multiple values. Parentheses are optional.  
3. `t = 10`  
   **Invalid**: Treated as an integer, not a Tuple.  
4. `t = 10,`  
   **Valid**: Creates a single-valued Tuple. Parentheses are optional but must include a comma.  
5. `t = (10)`  
   **Invalid**: Treated as an integer due to missing a trailing comma.  
6. `t = (10,)`  
   **Valid**: Creates a single-valued Tuple. Parentheses are recommended.  
7. `t = (10, 20, 30, 40)`  
   **Valid**: Creates a Tuple with multiple values using parentheses.

In [3]:
t = (10,)
print(t)       # (10,)
print(type(t)) # <class 'tuple'>

(10,)
<class 'tuple'>

In [4]:
t = 10, 20, 30
print(t)       # (10, 20, 30)
print(type(t)) # <class 'tuple'>

t = (10, 20, 30)
print(t)       # (10, 20, 30)
print(type(t)) # <class 'tuple'>

(10, 20, 30)
<class 'tuple'>
(10, 20, 30)
<class 'tuple'>

4. **Using `tuple()` Function**:
   - From a List:

In [5]:
lst = [10, 20, 30]
t = tuple(lst)
print(t)  # (10, 20, 30)

(10, 20, 30)

   - From a `range()`:

In [6]:
t = tuple(range(10, 20, 2))
print(t)  # (10, 12, 14, 16, 18)

(10, 12, 14, 16, 18)

### Accessing Elements of a Tuple

1. **By Index**:

In [9]:
t = (10, 20, 30, 40, 50, 60)
print(t[0])    # 10
print(t[-1])   # 60
# print(t[100])  # IndexError: tuple index out of range

10
60

1. **By Sclicing**:

In [8]:
t = (10, 20, 30, 40, 50, 60)
print(t[1:4])  # (20, 30, 40)
print(t[:])    # (10, 20, 30, 40, 50, 60)
print(t[::-1]) # (60, 50, 40, 30, 20, 10)

(20, 30, 40)
(10, 20, 30, 40, 50, 60)
(60, 50, 40, 30, 20, 10)

In [10]:
t = (10, 20, 30, 40, 50, 60)

print(t[2:5])     # Slicing from index 2 to 4 (exclusive of 5)
print(t[2:100])   # Slicing from index 2 to the end, ignoring out-of-range indices
print(t[::2])     # Slicing with a step of 2

(30, 40, 50)
(30, 40, 50, 60)
(10, 30, 50)


### **Tuple vs Immutability**

- Once we create a Tuple, **its content cannot be changed**.
- **Tuples are immutable objects** in Python.

In [11]:
t = (10, 20, 30, 40)
t[1] = 70  # Attempting to modify a Tuple element

TypeError: 'tuple' object does not support item assignment

### 2) Multiplication Operator OR Repetition Operator (`*`):
The `*` operator is used to repeat a Tuple multiple times.

#### Example:

In [12]:
t1 = (10, 20, 30)
t2 = (40, 50, 60)
t3 = t1 + t2
print(t3)  # (10, 20, 30, 40, 50, 60)

(10, 20, 30, 40, 50, 60)

In [14]:
t1 = (10, 20, 30)
t2 = t1 * 3
print(t2)  # (10, 20, 30, 10, 20, 30, 10, 20, 30)

(10, 20, 30, 10, 20, 30, 10, 20, 30)


1. Tuples are **immutable**.
2. Tuples support **slicing** with start, stop, and step.
3. Tuples support mathematical operators like `+` (concatenation) and `*` (repetition).

### **Important Functions of Tuple in Python**

1) `len()`
- Returns the number of elements in the Tuple.

In [ ]:
t = (10, 20, 30, 40)
print(len(t))  # Output: 4

 2) `count()`
- Returns the number of occurrences of the specified element in the Tuple.

In [15]:
t = (10, 20, 10, 10, 20)
print(t.count(10))  # Output: 3

3



3) `index()`
- Returns the index of the first occurrence of the specified element.
- Raises `ValueError` if the element is not found.

In [16]:
t = (10, 20, 10, 10, 20)
print(t.index(10))  # Output: 0
print(t.index(30))  # Output: ValueError: tuple.index(x): x not in tuple

0

ValueError: tuple.index(x): x not in tuple

4) `sorted()`
- Sorts the elements of the Tuple based on the default natural sorting order.
- Returns a **new list**; the original Tuple remains unchanged.

In [17]:
t = (40, 10, 30, 20)
t1 = sorted(t)
print(t1)  # Output: [10, 20, 30, 40]
print(t)   # Output: (40, 10, 30, 20)

# Sorting in reverse order
t1 = sorted(t, reverse=True)
print(t1)  # Output: [40, 30, 20, 10]

[10, 20, 30, 40]
(40, 10, 30, 20)
[40, 30, 20, 10]

5) `min()` and `max()`
- `min()`: Returns the smallest element.
- `max()`: Returns the largest element.

In [18]:
t = (40, 10, 30, 20)
print(min(t))  # Output: 10
print(max(t))  # Output: 40

10
40


#### **Tuple Packing and Unpacking**

#### T**uple Packing**
- Packing a group of variables into a single Tuple.

In [ ]:
a, b, c, d = 10, 20, 30, 40
t = a, b, c, d
print(t)  # Output: (10, 20, 30, 40)

### **Tuple Unpacking**
- Unpacking a Tuple and assigning its values to variables.

In [ ]:
t = (10, 20, 30, 40)
a, b, c, d = t
print("a =", a, "b =", b, "c =", c, "d =", d)
# Output: a = 10 b = 20 c = 30 d = 40

### Note:
- The number of variables must match the number of elements in the Tuple.
- Otherwise, a `ValueError` occurs:

In [19]:
t = (10, 20, 30, 40)
a, b, c = t  # ValueError: too many values to unpack (expected 3)

ValueError: too many values to unpack (expected 3)

#### **Tuple Comprehension**
- **Python does not support Tuple Comprehension.**
- Instead, a generator object is created:

In [20]:
t = (x**2 for x in range(1, 6))
print(type(t))  # Output: <class 'generator'>
for x in t:
    print(x)  # Output: 1, 4, 9, 16, 25

<class 'generator'>
1
4
9
16
25

#### **Program: Sum and Average of Tuple Elements**
- Example:

In [21]:
t = eval(input("Enter Tuple of Numbers: "))
l = len(t)
total = sum(t)
print("The Sum =", total)
print("The Average =", total / l)

TypeError: object of type 'int' has no len()

### **Differences Between List and Tuple**

| Feature                | List                                | Tuple                                |
|------------------------|-------------------------------------|-------------------------------------|
| **Definition**         | Group of comma-separated values within square brackets. Example: `i = [10, 20, 30]` | Group of comma-separated values within parentheses (parentheses are optional). Example: `t = (10, 20, 30)` |
| **Mutability**         | Mutable: Content can be changed. Example: `i[1] = 70` | Immutable: Content cannot be changed. Example: `t[1] = 70` → ValueError |
| **Use Case**           | Preferred for dynamic content that changes over time. | Preferred for fixed content that does not change. |
| **Dictionary Keys**    | Cannot be used as keys in a dictionary because lists are mutable. | Can be used as keys in a dictionary because tuples are immutable. |


#### **Key Points**
- Both Lists and Tuples preserve insertion order.
- Duplicate and heterogeneous elements are allowed.
- Both support indexing and slicing.